* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el contenedor de la navegación */
.header {
    background-color: #F2F2F0;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 130px;
    height: 130px;
    margin-right: 10px;
}

.title {
    color: #595856;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #888888; /* Sombra de texto en relieve */

}

/* Estilos para la lista de navegación */
.navbar {
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

/* Estilos para los elementos de la lista */
.navbar ul li {
    padding: 14px 20px;
}

/* Estilos para los enlaces de navegación */
.navbar ul li a {
    color: #0D0000;
    text-align: center;
    text-decoration: none;
    display: block;
}

/* Efecto de hover para los enlaces */
.navbar ul li a:hover {
    background-color: #8C8B88;
    color: #fff;
}

/* Estilos adicionales para mejorar la apariencia */
.navbar ul li a:active,
.navbar ul li a:focus {
    background-color: #595856;
    color: #fff;
}

/* Estilos para la galería de imágenes */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #f4f4f4;
}

.gallery-title {
    background-color: #F2F2F0;
    color: #595856;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline; /* Subrayado */
}

.image-container1 {
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container1 img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container:hover {
    transform: scale(1.05);
}

/* Media queries para una mejor adaptabilidad */
@media (max-width: 1200px) {
    .image-container {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    .image-container {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .image-container {
        width: calc(100% - 20px);
    }
}

.footercopy {
    background-color: #F2F2F0;
    color: #0D0000;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilos para el formulario de contacto */
.contact-form-section {
    background-color: #F2F2F0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #595856;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #575757;
}
/* Estilos para la sección de horarios */
.hours-section {
    background-color: #F2F2F0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hours-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #595856;
}

.hours-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px #0000001a;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.hours-table th,
.hours-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.hours-table th {
    background-color: #333;
    color: white;
}

/* Estilos para la galería de imágenes */

.image-gallery2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    flex-direction: column;
    align-items: center;
}

.gallerytitle{
    background-color: #F2F2F0;
    color: #595856;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image-container {
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.product-info {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.product-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.product-description {
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: #333; }

/* Estilos para la sección "Sobre Nosotros" */
.about-section {
    background-color: #F2F2F0;
    padding: 30px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.about-box {
    background-color: #fff;
    border: 2px solid #333;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #595856;
}

.about-content {
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}

.about-content p {
    margin-bottom: 20px;
    line-height: 1.6;
}
